worker_processes  3;

error_log  logs/error.log  info;
pid        logs/nginx.pid;

events {
    worker_connections  1024;
}

http {

    keepalive_timeout  125;

# ##########################################################################

# Production
    
    # loadbalancer
    upstream qr_ch_production {
      server 127.0.0.1:5007;
      server 127.0.0.1:5008;
      server 127.0.0.1:5009;
    }

  server {

    listen 4400;

    server_name LT0300766 localhost 127.0.0.1;

    location /apizilla/v1/api {
      
      proxy_pass http://qr_ch_production/apizilla/v1/api;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_redirect off;
      proxy_buffering off;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

  }

# ##########################################################################

# Test

    # loadbalancer
    upstream qr_ch_test {
      server 127.0.0.1:7007;
    }

  server {

    listen 4500;

    server_name LT0300766 localhost 127.0.0.1;

    location /api/convert/v1 {
      
      proxy_pass http://qr_ch_test/apizilla/v1/api;

      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_redirect off;
      proxy_buffering off;
    
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

  }

# ##########################################################################


# Development

    # loadbalancer
    upstream qr_ch_dev {
      server 127.0.0.1:6007;
    }

  server {

    listen 4600;

    server_name LT0300766 localhost 127.0.0.1;

    location /api/qrcode/qrbill/v1 {
      
      proxy_pass http://qr_ch_dev/apizilla/v1/api;

      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_redirect off;
      proxy_buffering off;

    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

  }

# ##########################################################################

}